<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pancho.w5">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <!--required permission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--optional permission - highly recommended-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--optional permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".HomeActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.mainactivity.MainActivity"/>
        <activity android:name=".view.settingsactivity.SettingsActivity"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b9ebabcf3fc4fec48332f2c424bc3fdf32018f83" />
    </application>

</manifest>